Neos:
  Neos:
    modules:
      administration:
        submodules:
          shel-neos-logs:
            label: 'Shel.Neos.Logs:Main:module.label'
            controller: 'Shel\Neos\Logs\Controller\LogsController'
            description: 'Shel.Neos.Logs:Main:module.description'
            mainStylesheet: 'Lite'
            icon: fas fa-search
            privilegeTarget: 'Shel.Neos.Logs:Backend.Module.Administration.Logs'

    userInterface:
      translation:
        autoInclude:
          Shel.Neos.Logs:
            - 'Main'

Shel:
  Neos:
    Logs:
      pagination:
        exceptions:
          pageSize: 20
        logs:
          pageSize: 50
      logFilesUrl: '%FLOW_PATH_DATA%Logs'
      exceptionFilesUrl: '%FLOW_PATH_DATA%Logs/Exceptions'
